:root{
    --primary-color: #FAEBD7;
    --seconday-color:#F5F5DC;

    --font-large:30px;
    --font-medium:15px;
    --font-small:10px;

    --spacing-small:8px;
    --spacing-medium:12px;
    --spacing-large:20px;

}
body{
    margin: 0 auto;
    background-color: var(--primary-color);
}


header{
    margin: 0 auto;
    background-color: var(--seconday-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    padding: var(--spacing-medium);
}


@media (max-width: 768px) {
    header{
        flex-direction: column;
        align-content: center;
        text-align: center;}

header img {
    margin-bottom: var(--spacing-small);}
}

.grid-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: var(--spacing-medium);
    background-color: var(--seconday-color);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
}

.grid-item{
    background-color: var(--primary-color);
    padding: var(--spacing-small);
    border-radius: 5px;
    text-align: center;
}

.grid-item img{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
}

@media (max-width: 786px) {
    .grid-container{
        grid-template-columns: repeat(2, 1fr);}
    .grid-item h1{
        font-size: var(--font-small);}
    .grid-item p{
        font-size: var(--font-small);}


}
@media (max-width: 480px) {
    .grid-container {
        grid-template-columns:1, 1fr;
    }

    .grid-item h1 {
        font-size: var(--font-small);
    }

    .grid-item p {
        font-size: var(--font-small);
    }
}




footer{
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    background-color: mistyrose;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: var(--font-medium);
}


@media (max-width: 480) {
    footer{
        height: 60px;
        font-size: var(--font-small);
    }

}

.styled-table {
    width: 100%;
    border-collapse: collapse;

}

.styled-table th,
.styled-table td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: left;
}


